<p>Active</p>
<ul>
{{#each list in model}}
  {{#if list.active}}
    {{list-component list = list}}
  {{/if}}
{{/each}}
  </ul>
<div id="inactive">
  <p>Inactive</p>
  <ul>
  {{#each list in model}}
  {{#unless list.active}}
    {{list-component list = list}}
  {{/unless}}
{{/each}}
</ul>
</div>
  {{outlet}}
